
<div class="row">
  <div class="col-xs-12">

    <div class="panel panel-default">
      <div class="panel-body">
        <%= form_for [current_user, @post] do |f| %>
          <div class="form-group">
            <%= f.label :title, "Titlu" %>
            <%= f.text_field :title, :class => "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :body , "Conținut"%>
            <%= f.text_area :body, :class => "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :image, "Imagine" %>
            <%= f.attachinary_file_field :image, :class => "form-control" %>
          </div>
          <%= f.submit "Creează anunț", :class => "btn btn-primary" %>
        <% end %>
      </div>
    </div>

  </div>
</div>
