
<div class="row">
  <div class="col-xs-12">

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <h3><%= @post.title %></h3>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 col-xs-12">
            <%= cl_image_tag @post.image.path, :crop => :fill, :class => "img-thumbnail img-responsive" %>
          </div>
          <div class="col-md-8 col-xs-12">
            <p><%= @post.body %></p>
            <hr/>
            <% rating = @post.rating_by(current_user) %>
            <%= form_for rating, :url => rate_post_path do |f| %>
              <span data-toggle="buttons">
                <% 5.times do |i| %>
                  <% checked = i+1 == rating.value %>
                  <%= f.label :rating, :class => "btn btn-default#{checked ? ' active' : ''}" do %>
                    <%= i+1 %>
                    <%= radio_button_tag 'rating[value]', i+1, checked %>
                  <% end %>
                <% end %>

              </span>
              <%= f.submit 'Vote!', :class => "btn btn-default btn-small" %>

            <% end %>
          </div>
        </div>
      </div>

      <div class="panel-footer">
        <h4>Comments:</h4>
        <%= render :partial => 'posts/comment', :collection => @post.comments, :spacer_template => 'posts/comment_spacer' %>

        <%= form_for [@post, Comment.new] do |f| %>
          <div class="form-group">
            <%= f.label :new_comment %>
            <%= f.text_area :text, :class => "form-control" %>
          </div>
          <%= f.submit 'Leave Comment', :class => "btn btn-primary" %>
        <% end %>

      </div>
    </div>

  </div>
</div>
