<!DOCTYPE html>
<html>
<head>
  <title>RailsgirlsDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <%= link_to 'All Posts', posts_path %>
  <% if user_signed_in? %>
    <%= link_to 'My Posts', user_posts_path(current_user) %>
    <%= link_to 'New Post', new_user_post_path(current_user) %>
    <%= link_to 'Log Out', destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to 'Log In', new_user_session_path %>
  <% end %>

</nav>

<%= yield %>

</body>
</html>
